body {
	margin: 0px;
	padding: 0px;
	background: url("../images/background.jpg") repeat-x;
}

.container {
	margin: 50px auto;
	margin-bottom: 0px;
	padding: 0px;
	background: #ccffff;
	width: 960px;
	position: relative;
	overflow: hidden;
}

.indexheader {
	margin: 0px;
	padding: 0px;
	background-color: white;
}

.logo>a {
	position: absolute;
	left: 10px;
	top: 6px;
}

.daohang {
	background-image: url("../images/nav.jpg");
	height: 45px;
	margin: 0px;
	padding: 0px;
}

.daohang ul {
	list-style: none;
}

.daohang li {
	float: left;
	width: 90px;
	line-height: 45px;
	font-size: 12pt;
	text-align: center;
}

.daohang .shu {
	width: 1px;
	height: 20px;
	background: white;
	margin-top: 15px;
}

.daohang a{
	color: white;
	text-decoration: none;
}

.daohang a:HOVER{
	color: black;
}

.content{
	margin: 10px;
	overflow: hidden;
}

.left{
	float: left;
	width:270px;
}


h5{
	margin-top: 10px;
	margin-bottom:10px;
	padding-left: 15px;
}

.line{
	height:1px;
	background:url("../images/line.gif");
}



.login{
	margin-bottom: 10px;
	height:220px;
	background:white;
	overflow: hidden;
}

.login ul{
	list-style: none;
	text-align: center;
	padding-left: 0px;
}

.login li{
	line-height: 50px;
}

.zai{
	margin-bottom: 10px;
	height:120px;
	background:white;
	overflow: hidden;
}

.zai a{
	color: black;
	text-decoration: none;
	line-height: 25px;
}

.zai a:HOVER{
	color: red;
}

.zai ul{
	text-align: center;
	padding-left: 0px;
}

.you{

	height:100px;
	background:white;
	overflow: hidden;
}

.link{
	text-align: center;
	margin-top: 10px;
}

.right{
	width:660px;
	float: right;
	overflow: hidden;
}

.xinwen{
	background:white;
	height:460px;
	overflow: hidden;
}

h4{
	text-indent:20px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom:10px;
	margin-right:10px;
	background: url("../images/book.jpg") no-repeat;
	line-height: 14px;	
	width:200px;
	float: left;
	display: block;
}

.sou{
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom:10px;
	float:right;
	width:200px;
	height:20px;
	line-height: 14px;	
}

.sou1{
	float: left;
}

.sou2{
	float: right;
}


.xin{
	float:left;
	width:660px;
	margin-top: 20px;
}

.xin ul{
	margin: 0px;
	list-style: none;
	width: 660px;
	padding: 0px;
}
.xin li{
	width:220px;
	line-height:100px;
	text-align: center;
	margin: auto 0px;
	float: left;
}
.xin li img{
	height: 70px;
}

.ye {
	float: left;
}

.ye ul{
	list-style: none;
	text-align: center;
	margin-top: 10px;
	height:30px;
	padding-left: 20px;
	padding-right: 20px;
}

.ye li{
	float: left;
	color: blue;
	line-height: 22px;
	height:30px;
	vertical-align: middle;
}

.ye a{
	text-decoration: none;
}

.ye a:VISITED{
	color:blue;
}

.fanye{
	display: block;
	margin: 0px;
	padding: 0px;
	height: 30px;
	text-align: center;
	width: 140px;
}

.footer{
	margin-top:10px;
	margin-bottom:10px;
	text-align: center;
	line-height: 10px;
}